<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = ""
		versionCode=""
		version   = "">
		<name>HypTIM</name>
		<description></description>
		<author href="" email=""></author>
<access origin="http://provaphonegapfabri.altervista.org/" subdomains="true" />
<access origin="*" />
</widget>
