<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = ""
		versionCode=""
		version   = "">
		<name>HypTIM</name>
		<description></description>
		<author href="" email=""></author>
		
		<feature name="http://api.phonegap.com/1.0/network"/>
        
<gap:plugin name="cordova-plugin-whitelist" source="npm" version="~1" />
		

		<platform name="ios">
		<icon src="icon_official.png" width="60" height="60" />
		</platform>
		<platform name="android">
		<icon src="file://C:\Users\admin\Desktop\icona_android.png" qualifier="hdpi" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
<allow-intent href="*.provaphonegapfabri.altervista.org/*" />
<allow-navigation href="*.provaphonegapfabri.altervista.org/*" />
<access origin="http://*.provaphonegapfabri.altervista.org/" subdomains="true" />
<access origin="*" />
</widget>
